#!/usr/bin/bash
# vim: ft=bash

[[ -z $BASHMATIC_HOME ]] && export BASHMATIC_HOME=${HOME}/.bashmatic

[[ -f "${BASHMATIC_HOME}/.bash_safe_source" ]] && \
  source "${BASHMATIC_HOME}/.bash_safe_source"

coefficient=$((DEBUG + BASHMATIC_DEBUG + BASHMATIC_PATH_DEBUG))

if [[ ${coefficient} -ge 2 ]]; then
  # Full Debug mode
  src "${BASHMATIC_HOME}/.envrc.debug"
elif [[ ${coefficient} -eq 0 ]] ; then
  src "${BASHMATIC_HOME}/.envrc.no-debug"
fi

PATH_add examples
PATH_add bin
PATH_add .bats-prefix/libexec
PATH_add .bats-prefix/bin

test -f .envrc.local && source ".envrc.local"


