#!/usr/bin/bash
# vim: ft=bash

[[ -n $DEBUG ]] || source .envrc.debug-off

[[ -z $BASHMATIC_HOME ]] && export BASHMATIC_HOME=${HOME}/.bashmatic

[[ -f "${BASHMATIC_HOME}/.bash_safe_source" ]] && \
  source "${BASHMATIC_HOME}/.bash_safe_source"

if [[ -n $DEBUG ]]; then
  coefficient=$((DEBUG + BASHMATIC_DEBUG + BASHMATIC_PATH_DEBUG))
  if [[ ${coefficient} -gt 1 ]]; then
    [[ $DEBUG -eq 1 ]] && echo "loading .envrc.debug" >&2
    source_if_exists "${BASHMATIC_HOME}/.envrc.debug"
  elif [[ ${coefficient} -eq 0 ]] ; then
    [[ $DEBUG -eq 1 ]] && echo "loading .envrc.no-debug" >&2
    source_if_exists "${BASHMATIC_HOME}/.envrc.no-debug"
  fi
else
  source_if_exists "${BASHMATIC_HOME}/.envrc.debug-off"
  unset DEBUG
fi

PATH_add examples
PATH_add bin
PATH_add .bats-prefix/libexec
PATH_add .bats-prefix/bin

[[ -f .envrc.local ]] && source .envrc.local


