# vim: ft=bash

[[ -f ${BASHMATIC_HOME}/.bash_safe_source ]] && source ${BASHMATIC_HOME}/.bash_safe_source

[[ $((BASHMATIC_DEBUG + DEBUG + BASHMATIC_PATH_DEBUG)) -eq 0 ]] && {
  src ${BASHMATIC_HOME}/.envrc.debu
}

[[ $((BASHMATIC_DEBUG + DEBUG + BASHMATIC_PATH_DEBUG)) -eq 0 ]] || {
  src ${BASHMATIC_HOME}/.envrc.no-debug
}  

PATH_add examples
PATH_add bin
PATH_add .bats-prefix/libexec
PATH_add .bats-prefix/bin

test -f .envrc.local && source ".envrc.local"


