**/.DS_Store
*.pdf.reduced
.bats-*
.bundle
.bundle/
.developer-warned
.envrc.local
.fonts/
.idea/
.last-rebase
.ruby-version
/Gemfile.lock
/test/tmp/
/test/version_tmp/
/tmp/
bin/bats
doc/USAGE.adoc
hello/
libexec/
share/
shellcheck.log
test/all.bats
