.bundle
.bats-*
.envrc.local
.fonts/
.idea/
.last-rebase
.ruby-version
*.pdf.reduced
**/.DS_Store
/Gemfile.lock
/test/tmp/
/test/version_tmp/
/tmp/
bin/bats
hello/
libexec/
share/
shellcheck.log
test/all.bats
